<div class="body-articles-search body-common-margin">
  <div class="body-articles-search-top">
    <h1>検索</h1>
    <div class="body-articles-search-searchfield">
      <%= form_tag({controller:"articles",action:"search"}, method: :get) do %>
        <%= text_field_tag :search, @search_word, class:"search-field" %>
        <%= submit_tag '検索する' %>
      <% end %>
    </div>
  </div>
</div>





<div id="ajax_search">
  <%= render partial: 'ajax_search', locals: { articles: @articles } %>
</div>
