<h3>投稿を検索</h3>
<%= form_tag({controller:"articles",action:"search"}, method: :get) do %>
  <%= text_field_tag :search, @search_word %>
  <%= submit_tag '検索する'  %>
<% end %>

<div id="ajax_search">
  <%= render partial: 'ajax_search', locals: { articles: @articles } %>
</div>
