/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* turquoise */

:root {
  --main-color: #112651;
  --sub-color: #ededf0;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter";
}

a:link,
a:visited {
  color: #112651;
  text-decoration: none;
}

body {
  background-color: rgb(255, 255, 255);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-star {
  cursor: url("pencile-white-32.png"), pointer;
}

header {
  height: 75px;
  border-bottom: 1px solid var(--sub-color);
  display: flex;
  justify-content: center;
}

.header-logo {
  width: 30%;
  display: flex;
  align-items: center;
}

.header-logo > a {
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.header-contents {
  width: 70%;
}

.header-contents > ul {
  margin-right: 100px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-contents > ul > li:not(:nth-last-child(1), :nth-last-child(2)) {
  padding: 0px 20px;
}

.header-contents > ul > li:nth-last-child(1) {
  margin-left: 20px;
}

.header-contents > ul > li > * {
  height: 45px;
}

.header-contents > ul li {
  font-size: 30px;
  list-style: none;
  text-align: center;
  /* border-bottom: 2px solid rgba(255, 255, 255, 0);
  transition: all 0.75s; */
}

.header-contents > ul > li:hover:not(:nth-last-child(1), :nth-last-child(2)) a {
  margin-bottom: -1px;
  border-bottom: 1px solid var(--sub-color);
  transition: 0.2s;
}

.header-contents > ul > li:not(:nth-last-child(1), :nth-last-child(2), :nth-last-child(3)) {
  border-right: 1px solid var(--sub-color);
}

.header-white-box {
  width: 100px;
  background-color: #ffffff;
  border: 1px solid var(--main-color);
}

.header-white-box > a {
  color: var(--main-color);
  font-size: 16px;
  font-weight: bold;
}

.header-black-box {
  width: 100px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.header-black-box > a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.header-list {
  padding: 0px 5px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-bottom {
  width: 13px;
  height: 13px;
  margin: 5px 13px 13px 5px;
  border-bottom: solid 2px #0a0a0a;
  border-right: solid 2px #0a0a0a;
  display: inline-block;
  transform: rotate(45deg);
}

.arrow-bottom-left {
  margin-right: 6px;
}

.header-dropdown-category-hover, .header-dropdown-category > ul > li > a {
  width: 140px;
  height: 100%;
}

/* プルダウン-Start */
.header-dropdown-category-hover {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-dropdown-category > ul {
  position: absolute;
  top: 75px;/* ヘッダーのheight */
}

.header-dropdown-category > ul > li {
  height: 0;
  overflow: hidden;
  transition: .5s;
}

.header-dropdown-category > ul > li > a {
  font-size: 15px;
  background-color: var(--sub-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--main-color);
}

.header-dropdown-category:hover > ul > li {
  height: 3rem;
  overflow: hidden;
}
/* プルダウン-Finish */
