// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//index
.body-article-index {
  height: var(--body-height);
  scroll-snap-type: y mandatory;
	overflow: scroll;
}

.body-article-index > * {
  height: var(--body-height);
  scroll-snap-align: start;
}

.body-article-index-fixed {
  background-color: var(--white-color);
}

.body-article-index-relative {
  padding-bottom: 50vh;
}

.article-index-top-contents {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-index-top-contents > * {
  padding-bottom: 90px;
}

.article-index-top-content-str {
  margin-left: 2em;
  color: var(--white-color);
  font-size: 90px;
  font-weight: bold;
}


.articles {
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.article {
  margin: calc((var(--body-height) - var(--article-height) * 2) / 4) 35px;
  height: var(--article-height);
  width: var(--article-width);
  background-color: var(--sub-color);
  //中央揃え、縦並び
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  //↑
}

.article-img {
  margin-top: 5px;
  height: 163px;
  width: var(--article-content-width);
  background-color: var(--picture-color);
}

.article-img img {
  height: 163px;
  width: var(--article-content-width);
  object-fit: cover;
}

.article-text {
  width: var(--article-content-width);
  display: flex;
  flex-direction: column;
}

.article-text-title {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.article-text-description {
  height: 63px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.article-text-tags {
  margin: 7px 0px;
  font-size: 10.5px;
}

.article-text-description {
  font-size: 14px;
}

.article-text-tag {
  margin-right: 5px;
  padding: 0px .2em;
  color: var(--white-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
}


//show
.body-article-show-contents {
  padding: 60px 80px 0px 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.article-left {
  margin-right: 100px;
  padding: 20px;
  width: 700px;
  background-color: var(--sub-color);
}

.article-url-info > p {
  margin-top: 1px;
}

.article-url-info-tags {
  margin: 7px 0px;
}

.article-url-info-detail {
  margin: 20px;
}

.article-url-info-img {
  display: flex;
  justify-content: center;
}

.article-url-info-img img {
  height: 326px;
  width: 600px;
  object-fit: cover;
}

.article-right {
  height: calc(100vh - 195px);
  width: 400px;
  overflow: auto;
}

.article-detail-body {
  margin-bottom: 40px;
}

.article-detail-body ul {
  margin-left: 50px;
}

.article-comment-container {
  background-color: red;
}


// new
.body-article-new-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

// チェックボックス
.field-checkbox {
  display: inline-block;
}

.field-checkbox input {
  display: none;
}

.field-checkbox label {
  padding: 10px 20px;
  color: var(--main-color);
  background: var(--white-color);
  display: inline-block;
  border-radius: 20px;
  border: 0.5px solid var(--main-color);
  transition: 0.5s;
}

.field-checkbox input:hover + label {
  background: var(--sub-color);
}

.field-checkbox input:checked + label {
  color: var(--white-color);
  background: var(--main-color);
}