// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Admin共通仕様
.admin-body {
  display: flex;
  justify-content: flex-start;
}
//end

//Adminのheader部分
.admin-header {
  height: var(--body-height);
  width: var(--admin-header-width);
  color: var(--white-color);
  background-color: var(--sub-color);
}

.admin-user > a {
  font-size: 25px;
  border-bottom: 1px solid var(--white-color);
  display: flex;
  align-items: center;
}

.admin-user img {
  margin: 15px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.admin-lists {
  font-size: 15px;
}

.admin-list {
  margin-top: 10px;
}

.admin-list-large {
  margin: 20px 0px 10px 20px;
  font-size: 20px;
}

.admin-list-small {
  margin-left: 15px;
  font-size: 15px;
}
//end

//admin-body共通仕様
.admin-body-common {
  width: var(--admin-common-width);
}

.admin-table-common {
  margin-top: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.admin-table-common table {
  width: 1067px;
  border-collapse: collapse;
  table-layout: fixed;
}

.admin-table-common th,
.admin-table-common td {
  border-top: solid 1px var(--admin-table-line-color);
  border-bottom: solid 1px var(--admin-table-line-color);
}

.admin-table-common th {
  padding: 1em 0;
  background-color: var(--admin-table-header-color);
}

.admin-table-common td {
  margin: 0px 5px;
  padding: 5px 0px;
  height: 21px;
  background-color: var(--white-color);
  overflow: scroll;
  white-space: nowrap;
}
//end

//show
.body-users-show-comment {
  margin-top: 20px;
}
